.hero{
    background: url("/src/assets/image/imovel\ 1.jpeg") center/cover no-repeat;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.hero-overlay{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 32px;
    width: 100%;
}

.card-home-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    padding: 10px 20px;
    left: 15%;


}

.nav-header {
    background-color: #212529;
    border-radius: 20px;
    opacity: 0.9;
}

.bg-header {
    background-image: url("../assets/image/imovel\ 1.jpeg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 40px;
    width: auto;

}

main {
    background-color: rgba(234, 109, 37, 0.05);
    color: #EA6D27;
}


.map-responsive {
    position: relative;
    padding: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


footer {
    background-color: #2B2B2B;
    padding: 0px;
}

.footer-informacao {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination .page-link {
        color: #EA6D27;
}

.pagination .page-link:hover {
    color: white;
    background-color: #EA6D27;
    border-color: #EA6D27;
}


.butto-agendar{
    background-color: #EA6D27;
}