body {
    background-color: #F5F5F5;
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    padding: 10px 20px;
    left: 15%;


}

.nav-header {
    background-color: #212529;
    border-radius: 20px;
    opacity: 0.9;
}



.bg-header {
    background-image: url("/src/assets/image/imovel\ 1.jpeg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    height: 40px;
    width: auto;

}




.imagem-carousel {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.199);
    transition: 0.5s;

}

.imagem-carousel:hover {
    transform: scale(1.07);
}

.imagem-carousel img {
    width: 260px;
    height: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

.card-home-info {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}



footer {
    background-color: #2B2B2B;
    padding: 0px;
}

.footer-informacao {
    display: flex;
    justify-content: center;
    align-items: center;

}


.butto-agendar{
    background-color: #EA6D27;
}